# ========================================
# Python
# ========================================

__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/



# ========================================
# IDE
# ========================================

.idea/
.vscode/



# ========================================
# Configuration / Secret
# ========================================

# 로컬용 외부 설정값 데이터 파일
config/config.ini

# 환경 변수 / secret
.env
.env.*



# ========================================
# Data
# ========================================

# 실제 수집/가공 데이터
datas/

# 감성 추론 AI 모델
sentiment_model/



# ========================================
# Log
# ========================================

logs/
*.log



# ========================================
# Temporary source code
# ========================================

# 임시 및 테스트용 코드
src/legacy/
src/process/preparation/



# ========================================
# OS
# ========================================

.DS_Store
Thumbs.db
